hr {
    /* styling the top line */
    width: 65%;
    border: 2px solid black;
    margin-left: 55px;
    margin-top: 60px;
}

div {
    /* styling the big rectangle */
    width: 90vw;
    height: 95vh;
    border: 2px solid black;
}

h1 {
    /* styling the header name */
    margin-left: 55px;
}

h2 {
    /* styling the job title */
    margin-left: 55px;
    color: darkgreen;
    font-size: 15px;
}

h3 {
    /* styling the address */
    margin-left: 55px;
}
p{
    margin-left: 55px;
}